@{
    ViewBag.Title = "Home Page";
}

<section id="slider">slider</section>
<section id="aboutus">
    <div class="container">
        <div class="row">
            <p>about us</p>
        </div>
        <div class="row">
            <div>
                <p>Lorem ipsum dolor sit amet, pellentesque enim lorem quis vivamus amet, lectus nullam sint, risus quis accumsan duis lacinia, quam eleifend ut amet pede.</p>
            </div>
        </div>
        <div class="row">
            <button>ABOUT US</button>
            <button>OUR MISSION</button>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="~/Content/img/about.jpg" alt="">
            </div>
            <div class="col-md-6">
                <h3>WE ARE CREATE WEB DEVELOPMENT AGENCY</h3>
                <p>Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis. Vitae sit felis donec, suscipit tortor et sapien donec ac nec. Nam vel eu amet, nisl imperdiet nec ad morbi, sodales ipsum, consequat purus vitae integer maecenas.</p>
                <p>Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis. Vitae sit felis donec, suscipit tortor et sapien donec ac nec. Nam vel eu amet.</p>
                <div>
                    <i class="fa fa-check-square"></i>
                    <p>100% Secure Service</p>
                </div>
                <div>
                    <i class="fa fa-check-square"></i>
                    <p>24/7 Support</p>
                </div>
                <div>
                    <i class="fa fa-check-square"></i>
                    <p>100% Client satisfy</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="service" class="row">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div>
                    <h1>our service</h1>
                    <p>Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis. Vitae sit felis donec, suscipit tortor et sapien donec ac nec.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="service-item">
                <div class="col-md-4 col-sm-6 inner">
                    <div class="media">
                        <div class="service-icon">
                            <i class="fa fa-globe"></i>
                        </div>
                        <div class="service-body">
                            <h2>web development</h2>
                            <p>Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis. Vitae sit felis donec, suscipit tortor et sapien donec ac nec. Nam vel eu amet.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 inner">
                    <div class="media">
                        <div class="service-icon">
                            <i class="fa fa-mobile"></i>
                        </div>
                        <div class="service-body">
                            <h2>apps development</h2>
                            <p>Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis. Vitae sit felis donec, suscipit tortor et sapien donec ac nec. Nam vel eu amet.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 inner">
                    <div class="media">
                        <div class="service-icon">
                            <i class="fa fa-paint-brush"></i>
                        </div>
                        <div class="service-body">
                            <h2>graphic design</h2>
                            <p>Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis. Vitae sit felis donec, suscipit tortor et sapien donec ac nec. Nam vel eu amet.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 inner">
                    <div class="media">
                        <div class="service-icon">
                            <i class="fa fa-sort-amount-asc"></i>
                        </div>
                        <div class="service-body">
                            <h2>software development</h2>
                            <p>Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis. Vitae sit felis donec, suscipit tortor et sapien donec ac nec. Nam vel eu amet.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 inner">
                    <div class="media">
                        <div class="service-icon">
                            <i class="fa fa-camera"></i>
                        </div>
                        <div class="service-body">
                            <h2>photography</h2>
                            <p>Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis. Vitae sit felis donec, suscipit tortor et sapien donec ac nec. Nam vel eu amet.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 inner">
                    <div class="media">
                        <div class="service-icon">
                            <i class="fa fa-wordpress"></i>
                        </div>
                        <div class="service-body">
                            <h2>wordpress theme</h2>
                            <p>Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis. Vitae sit felis donec, suscipit tortor et sapien donec ac nec. Nam vel eu amet.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="whywe" class="row">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <h2>why choose us</h2>
                    <p>Lorem ipsum dolor sit amet, pellentesque enim lorem quis vivamus amet, lectus nullam sint, risus quis accumsan duis lacinia, quam eleifend ut amet pede.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="col-md-6 col-sm-6 inner">
                    <div class="media">
                        <div class="service-icon">
                            <i class="fa fa-code"></i>
                        </div>
                        <div class="service-body">
                            <h2>clean code</h2>
                            <p>Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis. Vitae sit felis donec, suscipit tortor et sapien donec ac nec.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 inner">
                    <div class="media">
                        <div class="service-icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="service-body">
                            <h2>24/7 support</h2>
                            <p>Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis. Vitae sit felis donec, suscipit tortor et sapien donec ac nec.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 inner">
                    <div class="media">
                        <div class="service-icon">
                            <i class="fa fa-pencil"></i>
                        </div>
                        <div class="service-body">
                            <h2>modern design</h2>
                            <p>Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis. Vitae sit felis donec, suscipit tortor et sapien donec ac nec.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 inner">
                    <div class="media">
                        <div class="service-icon">
                            <i class="fa fa-mobile"></i>
                        </div>
                        <div class="service-body">
                            <h2>mobile responsive</h2>
                            <p>Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis. Vitae sit felis donec, suscipit tortor et sapien donec ac nec.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <img src="~/Content/img/why.png" alt="" height="463px">
            </div>
        </div>
    </div>
</section>
<section id="statistics" class="row">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center">
                <div class="counting">
                    <i class="fa fa-globe"></i>
                    <h2 class="website">
                        0
                    </h2>
                    <h4>website created</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center">
                <div class="counting">
                    <i class="fa fa-users"></i>
                    <h2 class="client">
                        0
                    </h2>
                    <h4>happy client</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center">
                <div class="counting">
                    <i class="fa fa-pencil"></i>
                    <h2 class="developer">
                        0
                    </h2>
                    <h4>developer</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center">
                <div class="counting">
                    <i class="fa fa-reorder"></i>
                    <h2 class="awards">
                        0
                    </h2>
                    <h4>awards win</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="projects">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <h1>our project</h1>
                        <p>Lorem ipsum dolor sit amet, pellentesque enim lorem quis vivamus amet, lectus nullam sint, risus quis accumsan duis lacinia, quam eleifend ut amet pede.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6  inner">
                    <div class="item">
                        <div class="project-image">
                            <img src="~/Content/img/p1.jpg" alt="">
                            <a href="~/Content/img/p1.jpg" class="gallery-photo">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                        <div class="project-title">
                            <div class="text">
                                <h3>
                                    <a href="#">
                                        book cover
                                    </a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6  inner">
                    <div class="item">
                        <div class="project-image">
                            <img src="~/Content/img/p2.jpg" alt="">
                            <a href="~/Content/img/p2.jpg" class="gallery-photo">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                        <div class="project-title">
                            <div class="text">
                                <h3>
                                    <a href="#">
                                        graphic design
                                    </a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6  inner">
                    <div class="item">
                        <div class="project-image">
                            <img src="~/Content/img/p3.jpg" alt="">
                            <a href="~/Content/img/p3.jpg" class="gallery-photo">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                        <div class="project-title">
                            <div class="text">
                                <h3>
                                    <a href="#">
                                        web development
                                    </a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6  inner">
                    <div class="item">
                        <div class="project-image">
                            <img src="~/Content/img/p4.jpg" alt="">
                            <a href="~/Content/img/p4.jpg" class="gallery-photo">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                        <div class="project-title">
                            <div class="text">
                                <h3>
                                    <a href="#">
                                        psd template
                                    </a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6  inner">
                    <div class="item">
                        <div class="project-image">
                            <img src="~/Content/img/p5.jpg" alt="">
                            <a href="~/Content/img/p5.jpg" class="gallery-photo">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                        <div class="project-title">
                            <div class="text">
                                <h3>
                                    <a href="#">
                                        apps design
                                    </a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6  inner">
                    <div class="item">
                        <div class="project-image">
                            <img src="~/Content/img/p6.jpg" alt="">
                            <a href="~/Content/img/p6.jpg" class="gallery-photo">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                        <div class="project-title">
                            <div class="text">
                                <h3>
                                    <a href="#">
                                        card design
                                    </a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6  inner">
                    <div class="item">
                        <div class="project-image">
                            <img src="~/Content/img/p7.jpg" alt="">
                            <a href="~/Content/img/p7.jpg" class="gallery-photo">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                        <div class="project-title">
                            <div class="text">
                                <h3>
                                    <a href="#">
                                        creative design
                                    </a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6  inner">
                    <div class="item">
                        <div class="project-image">
                            <img src="~/Content/img/p8.jpg" alt="">
                            <a href="~/Content/img/p8.jpg" class="gallery-photo">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                        <div class="project-title">
                            <div class="text">
                                <h3>
                                    <a href="#">
                                        book cover
                                    </a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="price" class="row">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <h1>our price</h1>
                    <p>Lorem ipsum dolor sit amet, pellentesque enim lorem quis vivamus amet, lectus nullam sint, risus quis accumsan duis lacinia, quam eleifend ut amet pede.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 inner-item">
                <div class="single-price">
                    <div class="icon">
                        <i class="fa fa-rocket"></i>
                    </div>
                    <div class="heading">
                        <h2>basic</h2>
                        <h1>$250</h1>
                    </div>
                    <ul>
                        <li>10 Web Site</li>
                        <li>24/7 Support</li>
                        <li>10 GB Bandwidth</li>
                        <li>15 GB Storage</li>
                    </ul>
                    <div class="button">
                        <a href="#" class="btn">Order Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 inner-item">
                <div class="single-price">
                    <div class="icon">
                        <i class="fa fa-space-shuttle"></i>
                    </div>
                    <div class="heading">
                        <h2>standart</h2>
                        <h1>$450</h1>
                    </div>
                    <ul>
                        <li>10 Web Site</li>
                        <li>24/7 Support</li>
                        <li>10 GB Bandwidth</li>
                        <li>15 GB Storage</li>
                    </ul>
                    <div class="button">
                        <a href="#" class="btn">Order Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 inner-item">
                <div class="single-price">
                    <div class="icon">
                        <i class="fa fa-navicon"></i>
                    </div>
                    <div class="heading">
                        <h2>regular</h2>
                        <h1>$550</h1>
                    </div>
                    <ul>
                        <li>15 Web Site</li>
                        <li>24/7 Support</li>
                        <li>10 GB Bandwidth</li>
                        <li>15 GB Storage</li>
                    </ul>
                    <div class="button">
                        <a href="#" class="btn">Order Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 inner-item">
                <div class="single-price">
                    <div class="icon">
                        <i class="fa fa-fighter-jet"></i>
                    </div>
                    <div class="heading">
                        <h2>premium</h2>
                        <h1>$750</h1>
                    </div>
                    <ul>
                        <li>20 Web Site</li>
                        <li>24/7 Support</li>
                        <li>10 GB Bandwidth</li>
                        <li>15 GB Storage</li>
                    </ul>
                    <div class="button">
                        <a href="#" class="btn">Order Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="contact" class="row">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-9">
                <div class="text">
                    <h2>If Need Any Help! Contact Us</h2>
                    <p>Lorem ipsum dolor sit amet, pellentesque enim lorem quis vivamus amet. </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-3">
                <div>
                    <a href="#" class="btn pull-right">Contact us</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="team" class="row">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <h1>our team</h1>
                    <p>Lorem ipsum dolor sit amet, pellentesque enim lorem quis vivamus amet, lectus nullam sint, risus quis accumsan duis lacinia, quam eleifend ut amet pede.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="team-member">
                    <img src="~/Content/img/tm.jpg" alt="">
                    <h2>Amelia</h2>
                    <h3>WordPress Developer</h3>
                    <ul>
                        <li>
                            <a href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-google"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-skype"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="team-member">
                    <img src="~/Content/img/tm2.jpg" alt="">
                    <h2>Gabriella</h2>
                    <h3>Web Developer</h3>
                    <ul>
                        <li>
                            <a href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-google"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-skype"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="team-member">
                    <img src="~/Content/img/tm3.jpg" alt="">
                    <h2>Chris</h2>
                    <h3>Graphic Designer</h3>
                    <ul>
                        <li>
                            <a href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-google"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-skype"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="team-member">
                    <img src="~/Content/img/tm4.jpg" alt="">
                    <h2>Mackenzie</h2>
                    <h3>Apps Developer</h3>
                    <ul>
                        <li>
                            <a href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-google"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-skype"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="questions" class="row">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="title">
                    <h2>frequently question</h2>
                    <p>Lorem ipsum dolor sit amet, pellentesque enim lorem quis vivamus amet, lectus nullam sint, risus quis accumsan duis lacinia, quam eleifend ut amet pede.</p>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                    Lorem ipsum dolor sit amet
                                </a>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <p>Lorem ipsum dolor sit amet, sapien semper potenti maecenas id velit, vulputate at amet lorem lobortis. Gravida pulvinar magna velit, quis neque consequat lacinia, vestibulum accumsan leo arcu etiam tellus. In sed. Vestibulum volutpat lacus, eget faucibus ac nec, orci feugiat.</p>
                                <p>Lorem ipsum dolor sit amet, sapien semper potenti maecenas id velit, vulputate at amet lorem lobortis. Gravida pulvinar magna velit, quis neque consequat lacinia, vestibulum accumsan leo arcu etiam tellus. In sed. Vestibulum volutpat lacus, eget faucibus ac nec, orci feugiat.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                    Lorem ipsum dolor sit amet
                                </a>
                            </h4>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                commodo consequat.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                    Lorem ipsum dolor sit amet
                                </a>
                            </h4>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                commodo consequat.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                                    Lorem ipsum dolor sit amet
                                </a>
                            </h4>
                        </div>
                        <div id="collapse4" class="panel-collapse collapse">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                commodo consequat.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <img src="~/Content/img/customer-support.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section id="clients" class="row">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <h1>our clients</h1>
                    <p>Lorem ipsum dolor sit amet, pellentesque enim lorem quis vivamus amet, lectus nullam sint, risus quis accumsan duis lacinia, quam eleifend ut amet pede.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="all-testimonial owl-carousel owl-theme owl-loaded">
                    <div class="owl-stage-outer">
                        <div class="owl-stage">
                            <div class="owl-item">
                                <div class="single-testimonial">
                                    <div class="client-comment">
                                        <img src="~/Content/img/tm.jpg" alt="">
                                        <p>Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis. Vitae sit felis donec, suscipit tortor et sapien donec ac nec. Nam vel eu amet.</p>
                                        <h2>David Max</h2>
                                        <h3>Ceo & Founder</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item">
                                <div class="single-testimonial">
                                    <div class="client-comment">
                                        <img src="~/Content/img/tm2.jpg" alt="">
                                        <p>Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis. Vitae sit felis donec, suscipit tortor et sapien donec ac nec. Nam vel eu amet.</p>
                                        <h2>Christopher</h2>
                                        <h3>Founder Of XYZ</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item">
                                <div class="single-testimonial">
                                    <div class="client-comment">
                                        <img src="~/Content/img/tm3.jpg" alt="">
                                        <p>Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis. Vitae sit felis donec, suscipit tortor et sapien donec ac nec. Nam vel eu amet.</p>
                                        <h2>Alexander</h2>
                                        <h3>Director Of XYZ</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item">
                                <div class="single-testimonial">
                                    <div class="client-comment">
                                        <img src="~/Content/img/tm.jpg" alt="">
                                        <p>Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis. Vitae sit felis donec, suscipit tortor et sapien donec ac nec. Nam vel eu amet.</p>
                                        <h2>David Max</h2>
                                        <h3>Ceo & Founder</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item">
                                <div class="single-testimonial">
                                    <div class="client-comment">
                                        <img src="~/Content/img/tm2.jpg" alt="">
                                        <p>Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis. Vitae sit felis donec, suscipit tortor et sapien donec ac nec. Nam vel eu amet.</p>
                                        <h2>Christopher</h2>
                                        <h3>Founder Of XYZ</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item">
                                <div class="single-testimonial">
                                    <div class="client-comment">
                                        <img src="~/Content/img/tm3.jpg" alt="">
                                        <p>Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis. Vitae sit felis donec, suscipit tortor et sapien donec ac nec. Nam vel eu amet.</p>
                                        <h2>Alexander</h2>
                                        <h3>Director Of XYZ</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-controls">
                        <div class="owl-nav">
                            <div class="owl-prev">
                                <i class="fa fa-angle-left"></i>
                            </div>
                            <div class="owl-next">
                                <i class="fa fa-angle-right"></i>
                            </div>
                        </div>
                        <div class="owl-dots">
                            <div class="owl-dot"></div>
                            <div class="owl-dot active"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="news" class="row">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <h1>our latest news</h1>
                    <p>Lorem ipsum dolor sit amet, pellentesque enim lorem quis vivamus amet, lectus nullam sint, risus quis accumsan duis lacinia, quam eleifend ut amet pede.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="media">
                    <div class="single-post">
                        <img src="~/Content/img/news1.jpg" alt="">
                        <div class="media-body">
                            <div class="single-post-text">
                                <h2>
                                    <a href="">LOREM IPSUM DOLOR SIT AMET</a>
                                </h2>
                                <ul>
                                    <li>
                                        <a href=""><i class="fa fa-user"></i>Admin</a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="fa fa-calendar"></i>
                                            10 July 2017
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="fa fa-heart-o"></i>
                                            12
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="fa fa-eye"></i>
                                            40
                                        </a>
                                    </li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, pellentesque enim lorem quis vivamus amet, lectus nullam sint, risus quis accumsan duis lacinia, quam eleifend ut amet pede. </p>
                                <a href="" class="btn">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="media">
                    <div class="single-post">
                        <img src="~/Content/img/news2.jpg" alt="">
                        <div class="media-body">
                            <div class="single-post-text">
                                <h2>
                                    <a href="">LOREM IPSUM DOLOR SIT AMET</a>
                                </h2>
                                <ul>
                                    <li>
                                        <a href=""><i class="fa fa-user"></i>Admin</a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="fa fa-calendar"></i>
                                            10 July 2017
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="fa fa-heart-o"></i>
                                            12
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="fa fa-eye"></i>
                                            40
                                        </a>
                                    </li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, pellentesque enim lorem quis vivamus amet, lectus nullam sint, risus quis accumsan duis lacinia, quam eleifend ut amet pede. </p>
                                <a href="" class="btn">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="media">
                    <div class="single-post">
                        <img src="~/Content/img/news3.jpg" alt="">
                        <div class="media-body">
                            <div class="single-post-text">
                                <h2>
                                    <a href="">LOREM IPSUM DOLOR SIT AMET</a>
                                </h2>
                                <ul>
                                    <li>
                                        <a href=""><i class="fa fa-user"></i>Admin</a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="fa fa-calendar"></i>
                                            10 July 2017
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="fa fa-heart-o"></i>
                                            12
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="fa fa-eye"></i>
                                            40
                                        </a>
                                    </li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, pellentesque enim lorem quis vivamus amet, lectus nullam sint, risus quis accumsan duis lacinia, quam eleifend ut amet pede. </p>
                                <a href="" class="btn">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="subscribe" class="row">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="newsletter-left">
                    <h1>Subscribe For Weekly Newsletter</h1>
                    <p>Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis.</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="newsletter-right">
                    <form action="#">
                        <input type="email" placeholder="Enter your m Email Address">
                        <input type="submit" value="subscribe">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>